body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    font-style: normal;
}

h1{ 
    color: #FFF8E5;
    margin-top: 50px;
    font-size: 5.625rem;
    font-family: 'Satisfy', cursive;
}
p{
    line-height: 2;
}
hr{
    border: dotted #B2B2B2 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #FFF8E5 ;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: white;
}

h2{
    color: #E05D5D;
    font-size: 2.5rem;
    font-weight: bold;    
}  

h3{
    color: #FFB344;
}

.top-container{
    background-color: #00A19D;
    padding-top: 100px;
    position : relative;
}
.middle-container{
    margin: 100px 0px;
}
   
.bottom-container{
    background-color: #00A19D;
    padding: 50px 0 20px;
}
    .skill-row{
        width: 50%;
        margin: 100px auto 100px auto;
    }
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}    

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.photo{
    padding-top: 50px;
}
.skill{
    text-decoration: solid;
    font-size: 2em;
}
.hello{
    color: #9CA777;
    font-size: 2em;
}
.touch{
    font-weigth: bold;
}
.intro{
    width: 30%;
    margin: auto;
}

.btn {
    background: #00A19D;
    background-image: -webkit-linear-gradient(top, #00A19D, #90ab50);
    background-image: -moz-linear-gradient(top, #00A19D, #90ab50);
    background-image: -ms-linear-gradient(top, #00A19D, #90ab50);
    background-image: -o-linear-gradient(top, #00A19D, #90ab50);
    background-image: linear-gradient(to bottom, #00A19D, #90ab50);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #9DC08B;
    background-image: -webkit-linear-gradient(top, #9DC08B, #609966);
    background-image: -moz-linear-gradient(top, #9DC08B, #609966);
    background-image: -ms-linear-gradient(top, #9DC08B, #609966);
    background-image: -o-linear-gradient(top, #9DC08B, #609966);
    background-image: linear-gradient(to bottom, #9DC08B, #609966);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0px;
  }